@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto&family=Ubuntu:wght@300;500&display=swap');

/*********************************
          General styles
**********************************/


/*
Resetting the global styles
 */
html{
    font-size: 62.5%;
    font-family:"Lato", sans-serif;
    color: #010315;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Links */
a:link{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/************************************
         Colors, fonts
************************************/

/*
Placeholder bar
 */
.placeHolderBar{
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}


/*
Header
 */
header{
    color: black;
    font-size: 1.6rem;
}

nav a:link{
    color: black;
}

nav a:visited{
    color: black;
}

nav a:hover, a:active{
    text-decoration: underline;
}

/*
Footer
 */

footer{
    background-color: #151515;
    color: white;
    font-size: 1.4rem;
    line-height: 3em;
}

#extras li{
    color: white;
    font-weight: bold;
}

#extras a:visited{
    color: white;
}

#extras a:link{
    color: white;
}

.useful-information li:nth-child(1){
    font-weight: bold;
}

.useful-information a:visited{
    color: rgba(201, 201, 201, 0.94);
}

.useful-information a:link{
    color: rgba(201, 201, 201, 0.94);
}

/************************************
              Buttons
************************************/
.cta{
    background-color: #101010;
    border-color: rgb(0, 0, 0);
    border-width: 0.2em;
    border-style: solid ;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: lighter;
    padding: 10px 30px;
}

.cta:hover{
    opacity: 80%;
}

/************************************
              Searchbar
************************************/

input{
    height: 2rem;
    width: 15rem;
    border: none;
    border-bottom: 2px solid black;
}

/************************************
              Icons
************************************/

.socials{
    max-width: 4rem;
    max-height: 4rem;
}

/************************************
              Layout
************************************/

/*
Header layout
 */
header{
    display: flex;
    border-bottom: 0.1em #b0b0b0 solid;
    flex-direction: row;
    width: 100%;
}

/*
Navigation layout
*/
nav{
    display: flex;
    align-items: center;
    padding-right: 16vw;
}

nav ul{
    display: flex;
    gap: 3vw;
}

#logo{
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
}

#logo-image{
    display: flex;
    height: 8rem;
}

#logo-text{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchAndIcons{
    display: flex;
    position: absolute;
    top: 4.5rem;
    right: 1.6rem;
}
.searchbar{
    display: flex;
    align-items: center;
    padding-right: 3vw;
}

.searchbar img{
    width: 3rem;
    height: 3rem;
}

.navigationIcons{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.navigationIcons embed {
    width: 3rem;
    height: 3rem;
}

/*
Footer layout
 */
footer {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 25em;
    padding-top: 4em;
}

#extras ul{
    line-height: 5em;
    margin-top: -1.03em;
}

.useful-information img{
    margin-right: 2em;
}

#hero-section {
    position:relative;
}

#hero-section img{
    display: flex;
    width: 100%;
    z-index: -1;
}

#hero-section div{
    text-align: center;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-section h1{
    padding-bottom: 9rem;
}

#selection-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem 3rem 3rem;
}

#selection-container{
    text-align: center;
}

#single-container img{
    width: 100%;
}

#single-container{
    text-align: center;
    padding-bottom: 2rem;
}

/************************************
           Screen sizes
************************************/

/*
600px
 */
@media screen and (max-width: 37.5em) {
    
}

/*
900px
 */
@media screen and (max-width: 50em) {

}

/*
1200px
 */
@media screen and (max-width: 75em) {

}

/*
1340px
 */
@media screen and (max-width: 84em) {

}