body{
    margin:0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #010315;
}
ul{
    list-style-type: none;
    padding: 0;
}
a:link{
    text-decoration: none;
}

li{
    list-style-type: none;
}
p{
    font-size: 1.3rem;
}
h2{
    font-size: 1.3rem;
    font-weight:900;
}
.container{
    background: white;
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-rows: 20px 70px 1fr 300px;
}
.topheader{
    background-color: black;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
}
.header{
    background: white;
    height:100%;
    display: grid;
    gap:2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    grid-template-columns: 2fr 600px 1fr 1fr;
    border-bottom: 0.1em #b0b0b0 solid;
}
.navbar{
    display: flex;
    width: 100%;
    height: 100%;
    gap:5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar > a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-image{
    height: 6rem;
}
.logo-text{
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbar{
    display:flex;
    outline: none;
}
.content{
    display: grid;
    grid-template-areas: 
    "title     title title"
    "thumbnails image details";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 3fr 2fr;
    
}
.productTitle{
    grid-area: title;
    display: flex;
    font-size: 1.5rem;
    text-decoration: underline;
    justify-content: left;
    align-items: center;
    margin-left: 1rem;
}
.thumbnails{
    grid-area: thumbnails;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.thumbnails > img {
    width: 100%;
    margin-bottom: 2rem;
}
.image{
    grid-area: image;
    margin-left: 2rem;
}
.image > img{
    width: 100%;
}
.details{
    grid-area: details;
    display: grid;
    grid-template-rows: 1fr 0.3fr 0.7fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 3fr;
    width:100%;
    justify-content: center;
    text-align: center;
}
.productName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.price{
    font-size: 1.4rem;
    font-weight: bold;
}
.colorSize{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    border-top: 0.1em #b0b0b0 solid;
}
.colors{
    display: flex;
    justify-content: left;
    align-items: center;
    text-shadow: 0 0 3px #000;
    gap:1rem;
}
.orangeSelect{
    color:orange;
}
.greenSelect{
    color:green;
}
.purpleSelect{
    color:purple;
}
.sizes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    gap:0.8rem;

}
.shortInfo{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}
.shortInfoText{
    width:75%;
}
.BuyOrFavorite{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BuyButtonArea{
    display: flex;
    align-items: center;
    justify-content: right;
}
.BuyButton{
    display:flex;
    align-items: center;
    justify-content: center;
    width:14rem;
    height:3.5rem;
    color:white;
    background-color: black;
    border: 0.1em #b0b0b0 solid;
    font-size: 1.7rem;
}
.BuyButton:hover{
    opacity: 50%;
}
.FavoriteArea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}
.Favorite{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}
.Favorite:hover{
    opacity:50%;
}
.detailedDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1em #b0b0b0 solid;
    gap:none;
}
.productDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1em #b0b0b0 solid;
}
.size-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1em #b0b0b0 solid;
}
.material-specification{
    border-top: 0.1em #b0b0b0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.useful-information img{
    margin-right: 2em;
}
.socials{
    max-width: 4rem;
    max-height: 4rem;
}
.useful-information li:nth-child(1){
    font-weight: bold;
}

.useful-information a:visited{
    color: rgba(201, 201, 201, 0.94);
}

.useful-information a:link{
    color: rgba(201, 201, 201, 0.94);
}
#extras li{
    color: white;
    font-weight: bold;
}

#extras a:visited{
    color: white;
}

#extras a:link{
    color: white;
}
.footer{
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-flow: row;
    justify-content: space-evenly;
    min-height: 25em;
    padding-top: 4em;
    line-height: 3em;
}
.useful-information{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#extras{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}