/******************************************************
                        Footer
 *****************************************************/
footer{
    display: grid;
    grid-template-rows: 5vh 40vh 5vh;
    grid-template-columns: 4vw 1fr 1fr 1fr 1fr 4vw;
    background: #222;
}

footer a:link, footer a:visited, footer a:active{
    color: white;
}

footer li{
    font-size: 0.9vw
}

footer li:nth-child(1){
    font-size: 1vw;
    color: #55d6aa;
    padding-bottom: 1vw;
    padding-top: 2vw;
}

footer li:not(:first-child) {
    margin-bottom: 1vw;
}

#extras-list{
    grid-area: 2 / 2 / 3 / 3;
}

#get-help-list{
    grid-area: 2 / 3 / 3 / 4;
}

#about-us-list{
    grid-area: 2 / 4 / 3 / 5;
}

#socials-list{
    grid-area: 2 / 5 / 3 / 6;
}

.useful-information{
    color: white;
    justify-self: center;
}

#socials-list img{
    width: 2vw;
    height: 2vw;
}

#socials-list li:nth-child(n+3){
    float:left;
    margin-right: 1.2vw;
}