@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&family=Ubuntu:wght@300;500&display=swap');

/*
Resetting global styles
 */

html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
    color: #010315;
    font-weight: 800;
    /*
    background-color: #fbeef2;
     */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Links */
a:link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/******************************************************
                        Main
 *****************************************************/
.hero-section{
    display: grid;
    overflow: hidden;
    grid-template-rows: 20vh 1fr 20vh;
    grid-template-columns: 18vw 1fr 18vw;
    align-items: center;
    padding-bottom: 6vh;
}

#hero-image-text{
    grid-area: 2 / 2 / 3 / 3;
}

#hero-image-text h1{
    font-size: 4vw;
    font-weight: 800;
}

#hero-image-text p {
    font-size: 1.5vw;
    padding-left: 0.2vw;
    margin-bottom: 2vh;
}

.button {
    width: 15rem;
    height: 5rem;
    padding: 1rem 2rem;
    border: 0.2rem solid #55d6aa;
    border-radius: 3rem;
    background-color: #55d6aa;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    box-shadow: inset 0 0 0 0 #222222;
    -webkit-box-shadow: inset 0 0 0 0 #222222;
}

.button{
    transition-duration: 0.6s;
}

.button:hover{
    background-color: #222222;
    color: #55d6aa;
    box-shadow: inset 15rem 0 0 0 #222222;
    -webkit-box-shadow: inset 15rem 0 0 0 #222222;
    cursor: pointer;
}

#hero-image{
    grid-area: 1 / 1 / 4 / 4;
    z-index: -1;
    max-height: 87vh;
    min-width: 100vw;
    object-fit: cover;
    object-position: 50% 35%;
}

#about-us{
    display: grid;
    background-color: #dee5e2;
    grid-template-rows: 10vh 40vh 10vh;
    grid-template-columns: 6vw 1fr 1fr 6vw;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 2vh;
}

#about-us div{
    grid-area: 2 / 3 / 3 / 4;
    padding-left: 5vw;
}

.information h2{
    font-size: 1.8vw;
    padding-bottom: 2vh;
    font-weight: 800;
}

.information p{
    font-size: 1vw;
}

#staff-member{
    grid-area: 2 / 2 / 3 / 3;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: 13% 76%;
}

#product-cards{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 6vw 1fr 1fr 1fr 6vw;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#product-cards button{
    margin-top: 3vh;
}

.card{
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: 1fr;
    grid-template-areas: "main";
    overflow: hidden;
    object-fit: cover;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.product-text{
    z-index: 1;
    color: #55d6aa;
    margin-top: 16vh;
}

h3{
    font-size: 2vw;
    font-weight: 800;
}

.product-text p{
    font-size: 1.3vw;
    color: white;
}

#utility-text{
    grid-area: main;
}

#clothes-text{
    grid-area: main;
}

#dogs-text{
    grid-area: main;
}

#showcase-utility{
    grid-area: main;
}

#showcase-clothes{
    grid-area: main;
}

#showcase-dogs{
    grid-area: main;
}

#showcase-clothes img{
    object-position: 38% 76%;
}

.product-images{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
    padding: 1vw;
    filter: brightness(50%);
}

#grid-utility{
    grid-area: 2 / 2 / 3 / 3;
}

#grid-clothes{
    grid-area: 2 / 3 / 3 / 4;
}

#grid-dogs{
    grid-area: 2 / 4 / 3 / 5;
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
}

#products-and-services{
    display: grid;
    background-color: #dee5e2;
    grid-template-rows: 10vh 60vh 10vh;
    grid-template-columns: 6vw 1fr 1fr 6vw;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 2vh;
}

#products-and-services button{
    width: 20rem;
    overflow: hidden;
}

#products-and-services p{
    padding: 2vw;
}

#premium{
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

#tested{
    grid-area: 2 / 3 / 3 / 3;
    text-align: center;
}

.material-icons.ss {
    font-size: 8vw;
    color: #222222;
}

#product-gallery{
    display: grid;
    grid-template-rows: 10vh 50vh 10vh;
    grid-template-columns: 6vw 1fr 1fr 1fr 1fr 1fr 6vw;
}

.product-gallery-card img{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 28vh;
    object-fit: cover;
}

.product-gallery-card-text{
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    padding-top: 0.3vw;
}

h4{
    font-size: 1.2vw;
}

.product-gallery-card-text p{
    font-size: 0.7vw;
    padding-bottom: 0.5vw;
}

.product-gallery-card{
    display: grid;
    grid-template-rows: 1vw 30vh 20vh 1vw;
    grid-template-columns: 1vw 1fr 1vw;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin: 1vw;
}

.product-gallery-card:hover{
    transform: scale(1.02);
    transition-duration: 0.5s;
}

#bestsellers{
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    padding-top: 1.5vw;
}

#gallery-a{
    grid-area: 2 / 2 / 3 / 3;
}

#gallery-b{
    grid-area: 2 / 3 / 3 / 4;

}
#gallery-c{
    grid-area: 2 / 4 / 3 / 5;

}
#gallery-d{
    grid-area: 2 / 5 / 3 / 6;
}

#gallery-e{
    grid-area: 2 / 6 / 3 / 7;
}

#testimonials{
    display: grid;
    grid-template-rows: 10vh 78vh 10vh;
    grid-template-columns: 4vw 1fr 1fr 1fr 4vw;
    text-align: center;
    align-items: center;
}

#testimonials img{
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

#testimonials-one{
    grid-area: 2 / 2 / 3 / 3;
}

#testimonials-two{
    grid-area: 2 / 3 / 2 / 3;
}

#testimonials-three{
    grid-area: 2 / 4 / 2 / 4;
}

.testimonial{
    margin: 1vw;
}

blockquote{
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    font-size: 1vw;
    position: relative;
}

blockquote:before {
    display: block;
    padding-left: 1vw;
    content: "\201C";
    font-size: 4vw;
    position: absolute;
    left: -1vw;
    top: -2vw;
    color: #55d6aa;
}
/************************************
           Screen sizes
************************************/

/*
600px
 */
@media screen and (max-width: 37.5em) {
    
}

/*
900px
 */
@media screen and (max-width: 50em) {

}

/*
1200px
 */
@media screen and (max-width: 75em) {

}

/*
1340px
 */
@media screen and (max-width: 84em) {

}